.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color4;
  font-family: $font1;
  color: $color2;
  overflow: hidden;

  &__rights {
    font-size: .9rem;
    margin: 2rem;
    font-style: italic;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: 0 0 1rem 0;

    &--name {
      font-size: 1rem;
    }

    &--site {
      text-decoration: none;
      color: $color2;
      font-size: .9rem;
      font-style: italic;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}