.main-header {
  max-height: 100vh;
  background-color: transparent;
  z-index: 997;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;

  .burger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px 15px 0 0;
    background-color: transparent;
    outline: none;
    border: none;
    width: 28px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 998;

    @include lg-o {
      display: none;
    }

    .line {
      width: 28px;
      height: 2px;
      background-color: $color2;
      display: block;
    }
  }

  .header-wrapper {
    height: 117px;
    flex-direction: column;
    display: flex;
    background-color: rgba(215, 215, 215, 0.6);
    color: $color2;

    @include lg-o {
      flex-direction: row;
      height: 117px !important;
    }

    .logo-wrapper {
      position: relative;

      .logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        padding: 0 0 10px 0;
        order: -1;
  
        @include lg-o {
          order: 0;
        }
  
        h1 {
          position: relative;
          top: 0;
          font-family: $font1;
          font-size: 2.45rem;
          letter-spacing: .35rem;
          margin: 8px 0 5px 0;
          transition: .3s ease-in-out letter-spacing;
          cursor: default;
  
          @include lg-o {
            font-size: 2.2rem;
          }
          
          &:hover {
            letter-spacing: .15rem;
          }
  
          a {
            color: $color2;
            text-decoration: none;
          }
        }
        
        span {
          font-family: $font3;
          font-size: 1.9rem;
          line-height: 1.4rem;
        }
  
        .text-1 {
          margin: 0 40px 0 0;

          .text-red {
            color: $color3;
          }
        }
  
        .text-2 {
          margin: 0 0 0 40px;
        }
      }
    }

    .nav {
      .link {
        color: $color2;
        text-decoration: none;
        text-align: center;
        position: relative;
        letter-spacing: .1rem;
        width: 130px;
        padding: 20px 0;
        font-family: $font1;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          background-color: $color3;
          width: 100%;
          height: 2px;
          transform: scaleX(0);
          transition: .3s ease-in-out transform;
          color: $color2;
        }

        &:hover::before {
          transform: scaleX(1);
        }
      }
    }
    
    .nav-desktop {
      display: none;

      @include lg-o {
        width: 100%;
        height: 117px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin: 0;

        .link {
          font-size: 1.4rem;
        }
      }
    }

    .nav-mobile {
      height: calc(100vh - 117px);
      display: none;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 25%);
      justify-items: center;
      align-items: center;
      padding: 20px 0 40px 0;

      @include sm-o {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 20px 0;
      }

      @include md-o {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 25%);
      }

      @include lg-o {
        display: none;
      }

      .link {
        height: max-content;
        font-size: 1.8rem;
        padding: 0;
        opacity: 0;
        transform: translateX(-20px);

        &::before {
          bottom: -5px;
        }
      }
    }
  }
}