.about {
  min-height: calc(100vh - 245px);
  margin: 120px 0 40px 0;
  display: flex;
  flex-direction: column;
  background-color: $color1;
  color: $color2;

  &__header {
    padding: 1.8rem 0 2rem 2rem;

    @include lg {
      padding: 1.8rem 0 2rem 4rem;
    }

    @include xxl {
      padding: 1.8rem 0 2rem 8rem;
    }
  }

  &__header-text {
    font-family: $font4;
    font-weight: 600;
    font-size: 2.6rem;

    @include lg {
      font-size: 3.2rem;
    }
  }

  &__content {
    margin: 0 0 0 1rem;
    border-left: 0.25rem solid $color3;
    padding: 0 2.5rem 0 2.2rem;
    max-width: 1440px;
    background-color: $color4;

    @include lg {
      padding: 0 2.5rem 0 5rem;
    }

    @include xxl {
      margin: 0 0 0 3rem;
    }
  }

  &__text {
    margin: 1rem 0 2rem 0;
    font-family: $font1;
    line-height: 1.6rem;
    text-indent: 1rem;

    @include lg {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
  }

  &__crew-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.5rem;
    margin: 1.8rem 0 0 0;

    @include lg {
      padding: 2rem 0 1.5rem 0;
    }
  }

  &__crew-member {
    &--kamil {
      align-self: flex-start;
      margin: 0 0.75rem 0 0;

      @include sm-o {
        margin: 0 1.5rem 0 0;
      }

      @include lg {
        margin: 0 4rem 0 0;
      }
    }

    &--milosz {
      align-self: flex-end;
      margin: 3rem 0 0 0.75rem;

      @include sm-o {
        margin: 3rem 0 0 1.5rem;
      }

      @include lg {
        margin: 3rem 0 0 4rem;
      }
    }
  }

  &__photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    width: 90%;
    padding: 0.6rem;
    background: $color4;

    @include md {
      width: 200px;
    }

    @include lg {
      width: 230px;
    }
  }

  &__name-wrapper {
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-family: $font4;
    font-style: italic;
    font-size: 1.2rem;
    padding: 0.2rem 0.7rem;
    position: relative;
    text-align: center;
    width: max-content;
    border-bottom: 1px $color3 solid;

    @include md {
      font-size: 1.4rem;
    }

    @include lg {
      font-size: 1.6rem;
    }
  }
}
