@mixin sa-horizontal-layout {
  grid-template-columns: 1fr 52%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    "sa-c1 sa-p1"
    "sa-c1 sa-p1"
    "sa-c2 sa-p1"
    "sa-c2 sa-p2"
    "sa-c3 sa-p2"
    "sa-c3 sa-p2";
}

@mixin sa-vertical-layout($image-row, $text-row: 1fr) {
  grid-template-columns: 1fr;
  grid-template-rows: 
    $text-row 
    $text-row 
    $image-row 
    $text-row 
    $image-row;
  grid-template-areas: 
    "sa-c1"
    "sa-c2"
    "sa-p1"
    "sa-c3"
    "sa-p2";
}

.home-main {  
  .hero-wrapper {
    width: 100vw;
    height: 100vh;

    .hero {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 70% 65%;
    }
  }
  
  .short-about {
    min-height: 100vh;
    padding: .3rem;
    background-color: $color1;
    display: grid;
    @include sa-vertical-layout(minmax(160px, 280px), 1fr);

    @include md {
      @include sa-vertical-layout(minmax(280px, 380px), 1fr);
    }

    @include lg {
      @include sa-vertical-layout(minmax(380px, 480px), 1fr);
    }

    @include xl {
      height: 100vh;
      @include sa-horizontal-layout;
    }

    .sa-content {
      color: $color2;
      padding: 2rem 1rem;

      @include xl {
        padding: 2rem 0 0 2rem;
      }

      .sa-header {
        margin: 0 0 .6rem 0;
        font-family: $font4;
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: .07rem;

        @include lg {
          font-size: 1.8rem;
        }

        @include xl {
          font-size: 2.2rem;
        }
      }

      .sa-text {
        font-family: $font1;
        font-size: 1.1rem;
        line-height: 1.6rem;
        padding: 0 0 .6rem .6rem;
        position: relative;

        @include lg {
          font-size: 1.3rem;
          line-height: 1.75rem;
        }

        @include xl {
          max-width: 600px;
          padding: 0 0 1.2rem 1.5rem;
          font-size: 1.45rem;
        }

        &::before {
          content: '';
          position: absolute;
          width: 290px;
          height: 2px;
          left: 0;
          bottom: 0;
          background: linear-gradient(to right, $color3, $color1);
        }
      }
    }

    .sa-content-1 {
      grid-area: sa-c1;
    }

    .sa-content-2 {
      grid-area: sa-c2;
    }

    .sa-content-3 {
      grid-area: sa-c3;
    }

    .sa-photo-wrapper {
      padding: 1rem;

      .sa-photo {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        padding: .63rem;
        background: $color4;
      }

      @include sm {
        padding: 1rem 3rem;
      }

      @include md {
        padding: 1rem 3rem;
      }

      @include lg {
        padding: 1rem 4rem;
      }

      @include xl {
        padding: 1rem 1.5rem;
      }
    }

    .sa-photo-wrapper-1 {
      grid-area: sa-p1;

      .sa-photo-1 {
        object-position: 20% 80%;
      }
    }

    .sa-photo-wrapper-2 {
      grid-area: sa-p2;

      .sa-photo-2 {
        object-position: 50% 40%;
      }
    }
  }
}