$font1: "Raleway", sans-serif;
$font2: "Anton", sans-serif;
$font3: "Dancing Script", cursive;
$font4: "Playfair Display", serif;
$color1: #ededed;
$color2: #303030;
$color3: #c94949;
$color4: #f7f7f7;
